@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300");
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Customize
 * ========================================================================== */
html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* OFTEN USED
 *------------------------------- */
#browser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  cursor: pointer;
}

.browser_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 260px;
  margin-left: -250px;
  margin-top: -130px;
  padding: 40px;
  margin: -170px 0 0 -290px;
  background: #FFF;
  border-radius: 5px;
  text-align: center;
}
.browser_content h1 {
  margin-bottom: 20px;
}
.browser_content p {
  margin-top: 30px;
}

.browser_note {
  color: #666;
  line-height: 1.7;
  padding: 0 20px;
}
.browser_note .autoWrap {
  display: inline-block;
}

.browser_chosen {
  position: relative;
  width: 480px;
  margin: 20px auto 0;
  overflow: hidden;
}
.browser_chosen a {
  float: left;
  margin: 0 28px 20px;
  color: #666;
  line-height: 1.7;
  font-size: 12px;
}

@media only screen and (max-width: 599px) {
  .browser_content {
    width: 100%;
    height: auto;
    padding: 40px 0 0;
    margin: -235px 0 0 -50%;
    border-radius: 0;
  }

  .browser_chosen {
    width: 240px;
  }
}
/* Set style
 * ========================================================================== */
#authorization {
  position: relative;
  margin: 10vh auto 0;
  display: block;
}

.article {
  position: relative;
  text-align: center;
  padding: 10vh 0 20vh;
}
.article .title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.article .title-tw {
  font-size: 1rem;
  color: #888;
  margin-bottom: 20px;
}
.article .cont {
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.scrollline {
  position: absolute;
  background: #000;
  width: 1px;
  height: 50px;
  left: 50%;
  margin: 30px 0;
  animation: mymove 2s infinite;
  -webkit-animation: mymove 2s infinite;
}
@keyframes mymove {
  0% {
    height: 0px;
    margin: 30px 0 10px;
  }
  50% {
    height: 50px;
    margin: 30px 0;
  }
  100% {
    height: 0px;
    margin: 80px 0 20px;
  }
}
@-webkit-keyframes mymove /*Safari and Chome*/ {
  0% {
    height: 0px;
    margin: 30px 0 10px;
  }
  50% {
    height: 50px;
    margin: 30px 0;
  }
  100% {
    height: 0px;
    margin: 80px 0 20px;
  }
}
.photo-list {
  position: relative;
  max-width: 800px;
  margin: 0 auto 5%;
}
.photo-list .title {
  color: #000;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.photo-list .title-tw {
  font-size: 1rem;
  color: #888;
  margin-bottom: 5%;
  text-align: center;
}
.photo-list .sample {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.photo-list .sample .cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.photo-list .sample .cont p {
  position: absolute;
  padding: 0 0 0 5px;
  line-height: 1.5;
  color: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.photo-list .sample:hover .cont {
  opacity: 1;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #e7b95f;
  transform: translateY(50%);
}

.swiper-pagination {
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
}
.swiper-pagination span {
  margin: 0 5px;
  width: 10px;
  height: 10px;
}

.text-list {
  max-width: 800px;
  margin: 10% auto 5%;
}
.text-list .title {
  color: #000;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.text-list .title-tw {
  font-size: 1rem;
  color: #888;
  margin-bottom: 5%;
  text-align: center;
}
.text-list ul {
  margin: 5% auto 0;
}
.text-list ul li {
  padding: 20px 0;
  border-bottom: 1px #ccc dashed;
  border-width: 2px;
}
.text-list ul li p {
  color: #555;
  font-size: 1.2rem;
  cursor: pointer;
}
.text-list ul li p:hover {
  text-decoration: underline;
  color: #999;
}

/*------------------------------------------
 *             tablet 、 Mobile
 *------------------------------------------ */
@media only screen and (max-width: 950px) {
  #authorization {
    margin: 10vh 5% 0;
  }

  .photo-list, .text-list {
    margin: 0 auto 20%;
  }
}
@media only screen and (max-width: 700px) {
  .text-list ul li p {
    font-size: 1rem;
  }

  .photo-list .sample {
    width: 90%;
  }
  .photo-list .sample .cont {
    opacity: 1;
    width: 100%;
    height: 25%;
    top: 88%;
    border-radius: 0;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .article {
    padding: 15vh 0;
  }
  .article .title {
    font-size: 2rem;
  }
  .article .cont {
    font-size: 1rem;
  }

  .text-list {
    margin: 10% auto;
  }

  .photo-list .title, .text-list .title {
    font-size: 1.5rem;
  }
}
